@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* Loading page - Loading page - Loading page - Loading page - Loading page -*/
#centre {
  height: auto;
  display: flex;
  justify-content: center;
}
#circles_wrap {
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
}
.circles {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#circle1 {
  background-color: #9356dc;
  animation: B1 750ms infinite;
  animation-delay: 100ms;
  animation-iteration-count: 5;
}
#circle2 {
  background-color: #ff79da;
  animation: B1 750ms infinite;
  animation-delay: 200ms;
  animation-iteration-count: 5;
}
#circle3 {
  background-color: #99e2d0;
  animation: B1 750ms infinite;
  animation-delay: 300ms;
  animation-iteration-count: 5;
}
@keyframes B1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* FIN Loading page */ /* FIN Loading page */ /* FIN Loading page */ /* FIN Loading page */ /* FIN Loading page */

body {
  font-family: Roboto, sans-serif;
  margin: auto;
}
#container_index {
  animation: B2 3s;
  position: relative;
}
@keyframes B2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header_logo {
  width: 165px;
  padding: 15px;
}
.header__arrow {
  display: flex;
  text-align: left;
  position: absolute;
  left: 20px;
  top: 20px;
}
#localisation {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  box-shadow: inset 0px 10px 10px #c4c4c4;
}
#map i {
  margin-right: 20px;
}
#baseline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  background-color: #f6f6f6;
}
#explore,
#commander {
  display: flex;
  justify-content: center;
}
#button_explore,
#button_commander {
  display: flex;
  width: 250px;
  height: 50px;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 25px;
  background-color: #ff79da;
  box-shadow: inset -10px -10px 30px 5px #9356dc,
    1px 1px 10px 1px rgb(75, 75, 75);
  margin-bottom: 30px;
}
#button_explore:hover,
#button_commander:hover {
  /* Au survol, la couleur de fond des boutons principaux devra légèrement s’éclaircir. */
  /* L’ombre portée devra également être plus visible. */
  background-color: #ffa9e7;
  box-shadow: inset -10px -10px 30px 5px #b881fa,
    1px 3px 10px 1px rgb(49, 49, 49);
  transition: 1s;
}
#fonctionnement {
  padding: 15px;
}
.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 4rem;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 1px 1px 10px 1px gray;
  margin: 15px;
}
.button:hover {
  /* Au survol, la couleur de fond des boutons principaux devra légèrement s’éclaircir. */
  /* L’ombre portée devra également être plus visible. */
  background-color: #f3e3fd;
  box-shadow: 1px 3px 10px 1px rgb(75, 75, 75);
  transition: 2s;
}
.button:hover i {
  color: #631fb6;
}
.number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-left: -12px;
  width: 25px;
  height: 25px;
  background-color: #9356dc;
  color: white;
}
.fa-mobile-alt,
.fa-list,
.fa-store {
  color: #727272;
  padding: 15px;
}
.fa-mobile-alt:hover,
.fa-list:hover,
.fa-store:hover {
  color: #9356dc;
  padding: 15px;
}
.text_fonctionnement {
  font-weight: 700;
}
#restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*width: 335px;*/
  width: auto;
  height: 250px;
  border-radius: 12px;
  box-shadow: 1px 1px 10px 1px #353535;
  margin-bottom: 10px;
  position: relative;
}
#image1 {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px 12px 0 0;
  width: auto;
  height: 175px;
}
#image2 {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px 12px 0 0;
  width: auto;
  height: 175px;
}
#image3 {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px 12px 0 0;
  width: auto;
  height: 175px;
}
#image4 {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px 12px 0 0;
  width: auto;
  height: 175px;
}
.new {
  background-color: #99e2d0;
  color: #024d3a;
  text-align: center;
  line-height: 30px;
  width: 80px;
  height: 30px;
  position: absolute;
  right: 12px;
  top: 12px;
  font-weight: 900;
}
.textAndIcon {
  display: flex;
  height: 4em;
  margin-top: 12px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex: 1;
  padding-left: 10px;
}
.icon {
  position: relative;
}
h3 {
  line-height: 1em;
  margin: 5px;
}
.p1 {
  margin: 2px 2px 2px 0px;
}
.far.fa-heart {
  font-size: 1.5em;
  display: block;
  margin: 5px 20px 0 5px;
}
.fas.fa-heart {
  font-size: 1.5em;
  display: flex;
  margin: 5px 20px 0 5px;
  opacity: 0;
  position: absolute;
  top: 0px;
}
.fas.fa-heart:hover {
  font-size: 1.5em;
  opacity: 1;
  background: /*-webkit-*/ linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s;
}
footer {
  background-color: #353535;
  padding: 20px 15px;
}
.footer_logo {
  width: 100px;
}
.ShrikhandFont {
  font-family: Shrikhand, sans-serif;
  font-size: 1.1em;
  margin-top: auto;
}
.fas.fa-utensils,
.fas.fa-hands-helping,
.footer_text {
  color: white;
  padding-right: 10px;
}
.footer_text a {
  text-decoration: none;
  color: white;
}

/*  pages menus  */
a {
  text-decoration: none;
  color: black;
}
#photo_resto1 {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}
#photo_resto2 {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}
#photo_resto3 {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}
#photo_resto4 {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}
#menu_container {
  width: auto;
  height: auto;
  border-radius: 30px 30px 0 0;
  margin-top: -60px;
  padding: 15px;
  background-color: #f6f6f6;
  padding: 15px;
}
#menu_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.titre_resto {
  font-family: Shrikhand, sans-serif;
  font-size: 1.1em;
  margin-top: auto;
  flex: 1;
}

/* ANIMATION decalage menu -  ANIMATION decalage menu - ANIMATION decalage menu */
/**/
.menu_container2 {
  animation: A1 1500ms;
}
@keyframes A1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* ANIMATION decalage menu -  ANIMATION decalage menu - ANIMATION decalage menu */
#entrees,
#plats,
#desserts {
  width: auto;
  height: auto;
  margin-bottom: 40px;
  /*animation: A2 3s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;*/
}
/*@keyframes A2 {
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}*/

.trait_vert {
  display: flex;
  border-bottom: solid 4px #99e2d0;
  width: 60px;
  margin-top: -15px;
}
.plat1 {
  display: flex;
  justify-content: flex-start;
  width: auto;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px 0em #353535;
  margin: 15px 0;
  padding: 10px 0 10px 10px;
  position: relative;
  overflow: hidden;
  animation: A3 2000ms;
  animation-delay: 1500ms;
}
.plat2 {
  display: flex;
  justify-content: flex-start;
  width: auto;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px 0em #353535;
  margin: 15px 0;
  padding: 10px 0 10px 10px;
  position: relative;
  overflow: hidden;
  animation: A3 2330ms;
  animation-delay: 1500ms;
}
.plat3 {
  display: flex;
  justify-content: flex-start;
  width: auto;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px 0em #353535;
  margin: 15px 0;
  padding: 10px 0 10px 10px;
  position: relative;
  overflow: hidden;
  animation: A3 2660ms;
  animation-delay: 1500ms;
}
.plat4 {
  display: flex;
  justify-content: flex-start;
  width: auto;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px 0em #353535;
  margin: 15px 0;
  padding: 10px 0 10px 10px;
  position: relative;
  overflow: hidden;
  animation: A3 3000ms;
  animation-delay: 1500ms;
}

@keyframes A3 /* fondu + déplacement vers le haut*/ {
  0% {
    opacity: 0;
    margin: 30px 0px;
  }
  33% {
    opacity: 0;
    margin: 18px 0px;
  }
  100% {
    opacity: 1;
    margin: 15px 0px;
  }
}
.text_plat {
  padding: 0px;
  overflow: hidden;
  transition: width 1s;
  width: 100%;
}
/* animation décalage texte vers la gauche */
.plat1:hover .text_plat,
.plat2:hover .text_plat,
.plat3:hover .text_plat,
.plat4:hover .text_plat {
  width: 80%;
}
.h3_plat {
  margin: 0px 50px 0 0;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.p_plat {
  margin: 0px 50px 0 0;
  font-size: 0.85em;
  padding-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Animation check box */ /* Animation check box */ /* Animation check box */
.price {
  font-weight: bold;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 9px;
  right: 15px;
  transition: 1s;
}
.plat1:hover .price,
.plat2:hover .price,
.plat3:hover .price,
.plat4:hover .price {
  transform: translate(-50px);
}
.check {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -50px;
  transition: 1s;
}
.plat1:hover .check,
.plat2:hover .check,
.plat3:hover .check,
.plat4:hover .check {
  transform: translate(-50px);
  transition: 1s;
}
.green_bkg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  width: 50px;
  height: 60px;
}
.circle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-size: 1.2em;
  /*transition: 1s;*/
}
/* Animation rotation cercle check box */ /* Animation rotation cercle check box */ /* Animation rotation cercle check box */
.plat1:hover .circle,
.plat2:hover .circle,
.plat3:hover .circle,
.plat4:hover .circle {
  animation: circle 1s;
}
@keyframes circle {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  #button_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .button {
    width: auto;
    padding-right: 20px;
  }
  #restaurants {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
  }
  #card_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .card {
    width: 335px;
  }
  .titre_resto {
    display: flex;
    justify-content: space-evenly;
  }
  #menu_container {
    display: flex;
    flex-direction: column;
  }
  .menu_container2 {
    display: flex;
    /**/
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #entrees,
  #plats,
  #desserts {
    width: 335px;
    height: auto;
    margin: 0 10px 40px 10px;
  }
}

@media all and (min-width: 1024px) and (max-width: 2560px) {
  #button_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .button {
    width: auto;
    padding-right: 20px;
  }
  #restaurants {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
  }
  #card_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .card {
    width: 335px;
  }
  .titre_resto {
    display: flex;
    justify-content: space-evenly;
  }
  #menu_container {
    display: flex;
    flex-direction: column;
  }
  .menu_container2 {
    display: flex;
    /**/
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-evenly;
  }
  #entrees,
  #plats,
  #desserts {
    width: 335px;
    height: auto;
    margin-bottom: 40px;
  }
}
